#item-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemHader {
    font-size: 25px;
    color: darkgray;
    padding: 10px;
}
#T_Shirt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#Shirt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#Watch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}